AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AlignTrailingComments: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackParameters: false
ColumnLimit: 120
ContinuationIndentWidth: 8
IndentCaseLabels: true
IndentWidth: 4
InsertNewlineAtEOF: true
ObjCBlockIndentWidth: 4
ObjCPropertyAttributeOrder: [
	class, direct,
	atomic, nonatomic,
	assign, retain, strong, copy, weak, unsafe_unretained,
	readonly, readwrite, getter, setter,
	nullable, nonnull, null_resettable, null_unspecified
]
ObjCSpaceAfterProperty: true
SortIncludes: Never
TabWidth: 4
UseTab: ForIndentation
